
body {
  background-image: url('hao-wang-pVq6YhmDPtk-unsplash.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Assure que le body prend toute la hauteur de la fenêtre */
  margin: 0; /* Enlève les marges par défaut */
}



/* pour custom le menu hamburger */
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' d='M5 7h20M5 15h20M5 23h20'/%3E%3C/svg%3E");

}

.iconesvg{
  color: #ffffff;
  
}




/* couleur des logo sociaux  */
.insta{
  color: rgb(200, 74, 74);
}

.git{
  color: rgb(52, 52, 207);
}

.link{
  color: rgb(127, 57, 194);
}

.env{
  color: green;
}
/* fin couleur logo */


/* pour mettre en place une font-familly tusker */
@font-face {
  font-family: 'Tusker Grotesk';
  src: url('fonts/TuskerGrotesk-3800Super.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


/* c'est le texte allan */

.titre-accueil1{
  margin-left: 55px;
  margin-top: 170px;
  color: #ecd4d4;
  font-family: 'Tusker Grotesk' ;
  font-size: 50px;  
  letter-spacing: 13px;
}

/* c'est le texte developeur web */
.titre-accueil2{
  color: #dbbebe;
  font-size: 45px;  
  font-family: 'Tusker Grotesk' ;
  letter-spacing: 12px;


}


/* menu deroulant le fond */
.dropdown-menu {
  background-color: rgba(11, 2, 2, 0.1); /* Fond noir avec transparence c'est le 0.1 */
  border: none;
}

/* Couleur du texte en blanc du menu deroulant */
.dropdown-item {
  color: white; 
}


.dropdown-item:hover {
  background-color: #33393f; /* Couleur de fond lors du survol des categories */
  color: white; /* Couleur du texte lors du survol */
}

/* Transition pour l'effet de zoom */
nav ul li a {
  transition: transform 0.2s ease; 
}

/* effet loupe */

nav ul li a:hover {
  transform: scale(0.9); /* Réduction à 50 % */
}





