
/********************************* DEBUT SECTION BODY  *********************************/

body {
  background-image: url('hao-wang-pVq6YhmDPtk-unsplash.webp'); 
  background-attachment: fixed; /* L'image de fond reste fixe */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Assure que le body prend toute la hauteur de la fenêtre */
  margin: 0; /* Enlève les marges par défaut */
  

}


/********************************* FIN SECTION BODY  *********************************/
/********************************* DEBUT CUSTOM LOGO  *********************************/



          /* pour custom le menu hamburger */
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' d='M5 7h20M5 15h20M5 23h20'/%3E%3C/svg%3E");

}
/********************************* FIN CUSTOM LOGO  *********************************/
/********************************* DEBUT allan-logo ICONE   *********************************/


.allanlogo {
position: relative;
margin-left: 58px;


  width: 70px; /* Ajuste la largeur à ta convenance */
  height: auto; /* Garde les proportions de l'image */
}










/********************************* FIN allan-logo ICONE   *********************************/
/********************************* DEBUT SECTION LOGO SOCIAUX  *********************************/


        /*  logo sociaux  */

.git{
  color: rgb(52, 52, 207);
  font-size: 30px; /* grosseur*/
  margin-right: 15px; /* Ajustez la valeur selon l'espace souhaité */
}

.link{
  color: rgb(127, 57, 194);
  font-size: 30px;   /* grosseur*/
  margin-right: 15px; /* Ajustez la valeur selon l'espace souhaité */

}

.env{
  color: green;
  font-size: 30px; /* grosseur*/
  margin-right: 15px; /* Ajustez la valeur selon l'espace souhaité */
}


/* pour ajuster les logo sociaux car il etait trop en bas de la page youyouyoyuou*/
.footer ul {
  margin-top: -10px; 
padding-bottom: 10px;
}








/********************************* FIN SECTION LOGO SOCIAUX  *********************************/
/********************************* DEBUT POUR METTRE EN PLACE LES FONT PERSO  *********************************/


      /* pour mettre en place une font-familly tusker */
@font-face {
  font-family: 'Tusker Grotesk';
  src: url('fonts/TuskerGrotesk-3800Super.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
/********************************* FINT POUR METTRE EN PLACE LES FONT PERSO  *********************************/
/********************************* DEBUT TEXTE PAGE HELLO   **************************************************/

        /* section 1 ()*/
/* page d accueil developeur web */
#hello{
  margin-top: 60px;
  color: #ffffff;

}

/* allan ixart */
.title3{
  font-size: 30px;

  letter-spacing: 7px;


}


/* developeur web */
.title4{
  font-size: 30px;

  letter-spacing: 7px;


}


/********************************* FIN TEXTE PAGE HELLO   ****************************************************/
/********************************* SECTION MENUE DEROULANT  **************************************************/

        /* menu deroulant le fond */
.dropdown-menu {
  background-color: rgba(11, 2, 2, 0.1); /* Fond noir avec transparence c'est le 0.1 */
  border: none;
}

        /* Couleur du texte en blanc du menu deroulant */
.dropdown-item {
  color: white; 
}

      /* menu deroulant */
.dropdown-item:hover {
  background-color: #33393f; /* Couleur de fond lors du survol des categories */
  color: white; /* Couleur du texte lors du survol */
}

        /* Transition pour l'effet de zoom */
nav ul li a {
  transition: transform 0.2s ease;
}

        /* effet loupe */

nav ul li a:hover {
  transform: scale(0.9); /* Réduction à 50 % */
}

/********************************* FIN SECTION MENUE DEROULANT  *********************************/
/********************************* DEBUT SECTION A PROPROS   *************************************/


.section{
  color: #ffffff;  /* couleur du texte de la section about me */
  padding: 100px; 
}



/********************************* FIN SECTION A PROPOS   ***************************************/
/********************************* DEBUT SECTION TEXTE PAGE PROJETS   ***************************/

      /* texte (mes projet) */
.title-projet{
  padding-bottom: 120px;
  font-style: italic;
  letter-spacing: 2px; 
  
}

      /* et sur le texte juste en bas du titre avec le liens  */
.lead{
  padding-bottom: 100px; 

}

/********************************* FIN SECTION TETE PAGE PROJETS   *******************************/
/********************************* DEBUT SECTION DES CARD PAGE PROJETS   *************************/

        /* boutton des card x2 */
.btn-primary {
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #004691;
}

        /* leger zomm sur les image des card x2 */
.card-img-top {
  object-fit: fill;
  height: 25rem;
  width: 24rem;
  transition: transform 0.3s;
  


}

.card-img-top:hover {
  transform: scale(1.05);

}

        /* titre des card */
.card-title {
  color: rgb(239, 48, 0);
}

.card-img-top {
  border-radius: 5px;

}

      /* debut entre le titre et le texte de la card */
#card-text1{
  padding-top: 30px;
}

#card-text2{
  padding-top: 30px;
}

#card-text3{
  padding-top: 30px;
}
#card-text4{
  padding-top: 30px;
}

#card-text5{
  padding-top: 30px;
}
#card-text6{
  padding-top: 30px;
}
      /* fin entre le titre et le texte de la card */


/********************************* FIN SECTION DES CARD PAGE PROJETS   ****************************/
/********************************* DEBUT SECTION FORMULAIRE   *************************************/

      /* texte du formulaire en blanc */
#contact-form{
  color: #ffffff;

}

@media (max-width: 425px) {
  .card {
      max-width: 768px; /* Limite la largeur des cartes à 425px */
      margin: 0 auto;   /* Centre la carte sur l'écran */
  }
}







      /* pour la largeur du champs blanc formulaire  */
/* .form-control{
  width: 10px;
} */


/********************************* FIN SECTION FORMULAIRE   ***************************************/
/********************************* DEBUT SECTION FOOTTER   ****************************************/


      /* texte du copyright */
.droits{
  color: #ffffff;
}

/* vous avez une question */
.title14{
  letter-spacing: 2px;
  padding-bottom: 50px;
  font-style: italic;
}



/* padding sur le texte allan ixart tout droit reserver :') */
h6{
  padding-top: 20px;
}

.bas {
  position: relative; /* Permet le déplacement */
  top: 230px;



}

/* texte pour la modal ses les  condition legal */
.modal-body{
  color: black;
}

/* liens ou ya ecris mention legal */
.mentionLink{
  font: bolder;
  letter-spacing: 2px;
  font-size: 17px;


}



/********************************* FIN SECTION FOOTTER   *******************************************/
/********************************* DEBUT SECTION COMPETENCE LOGO   *********************************/

/* titre texte(qui suis-je) */
.title2{
  padding-top: 150px;
  margin-bottom: 130px; 
  letter-spacing: 2px;
  font-style: italic;

}

/* titre texte (competences) */
.title1{
  padding-top: 150px;
  padding-bottom: 150px;
  font-style: italic;
  letter-spacing: 2px;


}

.icon {
  font-size: 40px; /* Taille des icônes, ajuste selon tes besoins */
  margin: 20px 0; /* Marge autour des icônes */

}





/********************************* FIN SECTION COMPETENCE LOGO   *********************************/
/********************************* DEBUT SECTION PHOTO ABOUT ME   *********************************/


/* photo de allan */

.photo-allan{

  
padding-bottom: 200px;
border-radius: 50%;
object-fit: cover; /* Pour bien ajuster l'image dans le cercle */

}



/********************************* FIN SECTION PHOTO ABOUT ME   *************************************/

